@{
    ViewData["Title"] = "MineSweeper App";
}

    <div class="text-center">
        <h1 class="display-4">Welcome to the main menu</h1>

        <br />



        <div class="form-group">
            <div class="col-md-offset-2 col-md-5">
                
                <a asp-controller="CreateGame" asp-action="Index" >
                    <div class="btn btn-primary">Create game</div>
                </a>
                
            </div>
        </div>

    </div>
